<div class="container-fluid content-width p-0">
  <footer class="footer">
      <div class="row width-content">
          <div class="col-xl-5 footer__copy">
              <p>2006 © Федеральное агенство по техническому регулированию и метрологии
                      «Российской научно-технический центр информации по стандартизации,
                      метрологии и оценке соответствия»</p>
          </div>
          <div class="col-xl-2 footer__contacts">
              <a href="tel:(495) 531-26-08"><img src="/static/img/ phone_3.svg" alt="">(495) 531-26-08</a>
              <a href="mailto:kip@gostinfo.ru"><img src="/static/img/ phone_2.svg" alt="">kip@gostinfo.ru</a>
          </div>
          <div class="col-xl-5 footer-right">
              <a href="" class="footer-login">Вход для гос. учреждений</a>
          </div>
      </div>
  </footer>
</div>