<div class="container-fluid header">
  <header> 
      <div class="header-info" style="display: none;"> <!-- -->
          <div class="row">
              <div class="header-sitename col-xl-4">
                  <a href="/">
                      <img src="/static/img/Imgur1.png" alt="">
                      <div class="title-descr">
                          <h1>ФГИС «НОРМ ДОК»</h1>
                          <p>«Российский научно-технический центр информации
                              по стандартизации, метрологии и оценке соответствия»</p>
                      </div>
                  </a>
              </div>
              <div class="header-contacts col-xl-8">
                  <a href="#0" class="afterline">
                      <img src="/static/img/ phone_3.svg" alt="">
                      <p>8-800-200-33-80</p>
                  </a>
                  <div class="btn-group">
                      <a href="" class="afterline icon__arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="/static/img/ phone_4.svg" alt="">
                          <p>КОНТАКТЫ</p>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#0">
                              <p class="item__city">Москва</p>
                              <p class="item__phone">+7 (495) 531-26-08</p>
                          </a>
                          <a class="dropdown-item" href="#0">
                              <p class="item__city">Санкт-Петербург</p>
                              <p class="item__phone">+7 (812) 557-86-21</p>
                          </a>
                          <a class="dropdown-item" href="#0">
                              <p class="item__city">Краснодар</p>
                              <p class="item__phone">+7 (861) 224-13-73</p>
                          </a>
                          <a class="dropdown-item" href="#0">
                              <p class="item__city">Новосибирск</p>
                              <p class="item__phone">+7 (383) 353-94-93</p>
                          </a>
                          <a class="dropdown-item" href="#0">
                              <p class="item__city">Екатеринбург</p>
                              <p class="item__phone">+7 (343) 369-15-81</p>
                          </a>
                      </div>
                  </div>
                  <a href="" class="afterline" data-toggle="modal" data-target="#modal-input">
                      <img src="/static/img/ phone_6.svg" alt="">
                      <p>ВХОД</p>
                  </a>
                  <a href="" class="afterline icon__arrow">
                      <img src="/static/img/rus.png" alt="">
                      <p>РУС</p>
                  </a>
              </div>
          </div>
      </div>

      <!--Блок top-menu для вошедшего-->
      <div class="header-info">
          <div class="row">
              <div class="header-sitename col-xl-3">
                  <a href="/">
                      <img src="/static/img/Imgur1.png" alt="">
                      <div class="title-descr">
                          <h1>ФГИС «НОРМ ДОК»</h1>
                          <p>«Российский научно-технический центр информации
                              по стандартизации, метрологии и оценке соответствия»</p>
                      </div>
                  </a>
              </div>
              <div class="header-login col-xl-9">
                  <ul href="#0" class="login-nav afterline">
                      <li><a href="#0">Вопросы по стандартизации</a></li>
                      <li><a href="#0">Конференция</a></li>
                      <li><a href="#0">Контакты</a></li>
                  </ul>
                  <div class="btn-group">
                      <a href="#0" class="login-block afterline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="login-img"></div>
                          <div class="login-block__text">
                              <p class="login-block__name">Константин Константино...</p>
                              <p class="login-block__position">ФГИС Нормдок</p>
                          </div>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item login-block__messages" href="#0">
                              У вас <span class="login-block__num">4</span> не прочитанное уведомление
                          </a>
                          <a class="dropdown-item" href="#0">Личный кабинет</a>
                          <a class="dropdown-item" href="#0">Настройки</a>
                          <a class="dropdown-item" href="#0">Выход</a>
                      </div>
                  </div>
                  <a href="" class="basket-block afterline">
                      <img src="/static/img/basket.svg" alt="">
                      <p>КОРЗИНА</p>
                      <div class="login-block__basket">0</div>
                  </a>
                  <a href="" class="afterline icon__arrow">
                      <img src="/static/img/rus.png" alt="">
                      <p>РУС</p>
                  </a>
              </div>
          </div>
      </div>
      <!--End-->
      <div class="header-subinfo width-content">
          <p>«ФГИС «НОМРДОК» - официальный источник документов Федерального информационного фонда стандартов» 
              <a href="" class="infobutton">Узнать больше</a>
          </p>
          <a href="" class="vidget">Скрыть</a>
      </div>
      <div class="header-search">
          <div class="width-content">
              <label class="label-input input-catalog">
                  <input type="text" placeholder="Выбор каталога" class="input">
                  <a href="#0"></a>
              </label>
              <label class="label-input search-catalog">
                  <input type="text" placeholder="Выбор каталога" class="input">
                  <a href="#0"></a>
              </label>
              <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-input-ul">Найти</button>
              <button type="submit" class="btn btn-normal" data-toggle="modal" data-target="#modal-input-img">Расширенный поиск</button>
          </div>
      </div>
  </header>
</div>