<div class="container-fluid main-content width-content">
  <div class="row">
      <div class="col-xl-2 catalog">
          <h3>Каталог</h3>
          <ul class="sidebar-menu catalog__nav"> <!--Каталог-->
              <li>
                  <a href="#0">
                      <p>Абонементное обслуживание</p>
                      <img src="static/img/296383.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Документы национальной системы стандартизации</p>
                      <img src="static/img/1055960.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Общероссийские классификаторы</p>
                      <img src="static/img/1055941.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Своды правил</p>
                      <img src="static/img/1055944.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Технические регламенты (ТР РФ, ТР ТС, ТР ЕАЭС)</p>
                      <img src="static/img/1055941.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Доступ к информационным ресурсам</p>
                      <img src="static/img/1055942.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Стандарты СНГ</p>
                      <img src="static/img/1055964.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Международные стандарты</p>
                      <img src="static/img/iso-sq.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Стандарты иностранных государств</p>
                      <img src="static/img/1055953.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Нормативные и технические документы</p>
                      <img src="static/img/1055941.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Периодические издания</p>
                      <img src="static/img/1055960.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="#0">
                      <p>Услуги</p>
                      <img src="static/img/1055945.png" alt="">
                  </a>
              </li>
          </ul>
      </div>
      <div class="col-xl-8 article-content">
          <article class="standarts">
              <h3>Новые поступления</h3>
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-xl-5 blank-1">
                          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                              <div class="carousel__nav">
                                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                      <span class="icon-prev" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                  </a>
                                  <ol class="carousel-indicators">
                                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                  </ol>
                                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                      <span class="icon-next" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                  </a>
                              </div>
                              <div class="carousel-inner" role="listbox">
                                  <div class="carousel-item active">
                                      <p>Новые поступления в Фонд стандартов</p>
                                      <h4>Открыть бланк заказа</h4>
                                  </div>
                                  <div class="carousel-item">
                                      <p>Новые поступления в Фонд стандартов</p>
                                      <h4>Открыть бланк заказа</h4>
                                  </div>
                                  <div class="carousel-item">
                                      <p>Новые поступления в Фонд стандартов</p>
                                      <h4>Открыть бланк заказа</h4>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-7 blank-2">
                          <p>Для оформления покупки используйте</p>
                          <h4>Бланк заказа</h4>
                          <button class="btn btn-success">Открыть бланк заказа</button>
                      </div>
                  </div>
              </div>
          </article>
             
          <article class="standarts">
              <h3>Популярные предложения</h3>
              <div class="card-group">
                  <div class="card">
                      <div class="standarts__image"></div>
                      <p class="standarts__data">5 июля 16:10</p>
                      <a href="#0" class="standarts__text">ISO/IEC 17025 Испытательные и калибровочные лаборатории</a>
                      <div><a href="#0" class="news-button">Зарубежные стандарты</a></div>
                  </div>
                  <div class="card">
                      <div class="standarts__image"></div>
                      <p class="standarts__data">12 октября 12:32</p>
                      <a href="#0" class="standarts__text">ISO 9001 Системы менеджмента качества</a>
                      <div><a href="#0" class="news-button">Зарубежные стандарты</a></div>
                  </div>
                  <div class="card">
                      <div class="standarts__image"></div>
                      <p class="standarts__data">11 ноября в 16:12</p>
                      <a href="#0" class="standarts__text">ISO/IEC 27001 Системы обеспечения информационной безопасности</a>
                      <div><a href="#0" class="news-button">Зарубежные стандарты</a></div>
                  </div>
              </div>
          </article>
          <article class="standarts">
              <h3>Наиболее популярные стандарты</h3>
              <div class="card-group">
                  <div class="card">
                      <div class="standarts__image"></div>
                      <p class="standarts__data">5 июля 16:10</p>
                      <a href="#0" class="standarts__text">
                          ISO/IEC 17025 Испытательные и калибровочные лаборатории
                      </a>
                      <div><a href="#0" class="news-button">Зарубежные стандарты</a></div>
                  </div>
                  <div class="card">
                      <div class="standarts__image"></div>
                      <p class="standarts__data">12 октября 12:32</p>
                      <a href="#0" class="standarts__text">ISO 9001 Системы менеджмента качества</a>
                      <div><a href="#0" class="news-button">Зарубежные стандарты</a></div>
                  </div>
                  <div class="card">
                      <div class="standarts__image"></div>
                      <p class="standarts__data">11 ноября в 16:12</p>
                      <a href="#0" class="standarts__text">ISO/IEC 27001 Системы обеспечения 
                          информационной безопасности</a>
                      <div><a href="#0" class="news-button">Зарубежные стандарты</a></div>
                  </div>
              </div>
          </article>

          <div class="standarts my-documents">
              <div class="my-documents-head">
                  <a href="#0" class="mydoc-title">
                      <h3>Мои документы</h3>
                  </a>
                  <div class="show-count">
                      <span>Показывать по</span>
                      <a href="" class="active">20</a>
                      <a href="">50</a>
                      <a href="">100</a>
                  </div>
              </div>
              <div class="table-title">
                  <div class="table-title-name"><span>Название</span></div>
                  <div class="table-title-type"><span>Тип представления</span></div>
                  <div class="table-title-type-1"><span>Дата введение</span></div>
                  <div class="table-title-type-2"><span>Дата огр. срока</span></div>
                  <div class="table-title-status"><span>Статус</span></div>
              </div>
              <div class="table-content">
                  <div class="table-row">
                      <div class="table-title-name">
                          <span>ГОСТ 1.0.92</span>
                          <a href="">Система многослойных трубопроводов</a>
                          <span class="opacity">Multilayer Pipeline System</span>
                      </div>
                      <div class="table-title-type">Типографское
                              издание</div>
                      <div class="table-title-type-1">-</div>
                      <div class="table-title-type-2">-</div>
                      <div class="table-title-status">
                          <span>Заменен</span>
                          <a href="" class="table-butn">Продлить</a>
                      </div>
                  </div>
                  <div class="table-row">
                          <div class="table-title-name">
                              <span>ГОСТ 1.0.92</span>
                              <a href="">Система многослойных трубопроводов</a>
                              <span class="opacity">Multilayer Pipeline System</span>
                          </div>
                          <div class="table-title-type">Типографское
                                  издание</div>
                          <div class="table-title-type-1">-</div>
                          <div class="table-title-type-2">-</div>
                          <div class="table-title-status">
                              <span>Заменен</span>
                              <a href="" class="table-butn">Продлить</a>
                          </div>
                  </div>
                  <div class="table-row">
                          <div class="table-title-name">
                              <span>ГОСТ 1.0.92</span>
                              <a href="">Система многослойных трубопроводов</a>
                              <span class="opacity">Multilayer Pipeline System</span>
                          </div>
                          <div class="table-title-type">Типографское
                                  издание</div>
                          <div class="table-title-type-1">-</div>
                          <div class="table-title-type-2">-</div>
                          <div class="table-title-status">
                              <span>Заменен</span>
                              <a href="" class="table-butn">Продлить</a>
                          </div>
                  </div>
                  <div class="table-row">
                          <div class="table-title-name">
                              <span>ГОСТ 1.0.92</span>
                              <a href="">Система многослойных трубопроводов</a>
                              <span class="opacity">Multilayer Pipeline System</span>
                          </div>
                          <div class="table-title-type">Типографское
                                  издание</div>
                          <div class="table-title-type-1">-</div>
                          <div class="table-title-type-2">-</div>
                          <div class="table-title-status">
                              <span>Заменен</span>
                              <a href="" class="table-butn">Продлить</a>
                          </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-2 news-feed">
          <h3>Новостная лента</h3>
          <ul class="sidebar-news">
              <li>
                  <div class="standarts__image"></div>
                  <p class="standarts__data">5 июля 16:10</p>
                  <a href="#0" class="standarts__text">ISO/IEC 17025 Испытательные и калибровочные лаборатории</a>
                  <a href="#0" class="news-button">Зарубежные стандарты</a>
              </li>
              <li>
                  <p class="standarts__data">5 июля 16:10</p>
                  <a href="#0" class="standarts__text">Натуральный мед как объект стандартизации</a>
                  <a href="#0" class="news-button">Стандарты</a>
              </li>
              <li>
                  <p class="standarts__data">5 июля 16:10</p>
                  <a href="#0" class="standarts__text">ИУС №8</a>
                  <a href="#0" class="news-button">Стандарты</a>
              </li>
              <li>
                  <p class="standarts__data">5 июля 16:10</p>
                  <a href="#0" class="standarts__text">Натуральный мед как объект стандартизации</a>
                  <a href="#0" class="news-button">Стандарты</a>
              </li>
              <li>
                  <p class="standarts__data">5 июля 16:10</p>
                  <a href="#0" class="standarts__text">ИУС №8</a>
                  <a href="#0" class="news-button">Стандарты</a>
              </li>
          </ul>
      </div>
  </div>
</div>