<div class="breadcrumbs">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/cat/<%- item.cat_brief %>"><%- item.cat_name %></a></li>
    <li><span class="current"><%- item.item_name %></span></li>
  </ul>
</div>
<div class="row product-about">
  <div class="col-12 col-md-6 mb-4">
    <div class="product-preview h-baguette-gallery">
      <a href="http://static.hlopokray.ru<%- item.image_url %>">
        <img src="http://static.hlopokray.ru<%- item.image_url %>" alt="">
      </a>
    </div>
    <!-- <ul class="product-thumbs">
      <li>
        <a href="#0">
          <img src="/static/img/2.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="#0"><img src="/static/img/1.jpg" alt=""></a>
      </li>
      <li>
        <a href="#0"><img src="/static/img/3.jpg" alt=""></a>
      </li>
    </ul> -->
  </div>
  <div class="col-12 col-md-6">
  <% if(item.sub_items) { %>
    <% item.sub_items.map(sub => { %>
      <div class="details-info">
        <div class="title">
          <span class="product-name"><%- sub.prop %></span>
          <div class="price">
            <span><%- sub.price %> Р</span>
          </div>
        </div>
        <div class="content">
          <div class="inner d-flex flex-column flex-sm-row flex-md-column flex-xl-row justify-content-between align-items-start">
            <ul class="list-set mb-3">
            <% if(sub.sub_props) { %>
              <% sub.sub_props.map(sub_prop => { %>
                <% if(sub_prop.prop_name === 'Тип-ткани') return %>
                <li>
                  <span class="part"><%- sub_prop.prop_name %></span>
                  <span class="size"><%- sub_prop.prop_value %></span>
                </li>
              <% })%>
            <% } %>
            </ul>
            <div class="d-flex justify-content-between align-items-center align-items-xl-start">
              <div class="quantity">
                <div class="quantity-controls">
                  <button class="minus" type="button" onClick="qtyArrowHandler(event)" data-qty-direction="down">-</button>
                  <input id="item-<%-sub.item_id %>" type="text" value="1" min="1" max="100" id="js-quantity">
                  <button class="plus" type="button" onClick="qtyArrowHandler(event)" data-qty-direction="up">+</button>
                </div>
                <span class="quantity-title">количество</span>
              </div>
              <button class="btn-cart mt-sm-2" type="button" onClick="Cart.add(event, '<%- sub.item_id %>', document.getElementById('item-<%-sub.item_id %>').value)">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
    <% } else { %>
        Предметы не найдены
        <%- console.log(item) %>
    <% } %>
  </div>
</div>
<div class="product-tabs">
  <ul class="nav-tab">
    <li class="active" data-class="1">
      <a href="#">Описание</a>
    </li>
    <li data-class="2">
      <a href="#">Отзывы</a>
    </li>
    <li data-class="3">
      <a href="#">Оплата</a>
    </li>
    <li data-class="4">
      <a href="#">Доставка</a>
    </li>
    <li data-class="5">
      <a href="#">Сертификат</a>
    </li>
    <li data-class="6">
      <a href="#">Гарантия</a>
    </li>
  </ul>
  <div class="tab-container">
    <div class="tab-panel tab-panel_1 active">
      <div class="row">
        <div class="col-4">
          <ul class="character-list">
            <% if(item.cloth) { %>
                <li>
                  <span class="name">Тип ткани :</span>
                  <span class="value"><%- item.cloth.tiptkani%></span>
                </li>
            <% } else if(item.props) { %>
                <% item.props.map(prop => { %>
                  <li>
                    <span class="name"><%- prop.name %></span>
                    <span class="value"><%- prop.value %></span>
                  </li>
                <% }) %>
            <% } else { %>
              <li>
                <span class="name">Аттрибут</span>
                <span class="value">Значение не найдено</span>
              </li>
            <% } %>      
          </ul>
        </div>
        <div class="col-8 tab-panel-right">
          <% if(item.description) { %> 
            <p><%- item.description %></p>
          <% } else { %>
            <p>У товара нет описания</p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="tab-panel tab-panel_2">
      <p></p>
    </div>
    <div class="tab-panel tab-panel_3">
      <ul>
        <li>На кассе предприятия:г. Чебоксары, ул. Космонавта А.Г.Николавеа, д. 47</li>
        <li>Перевод на расчетный счет</li>
        <li>Перевод на банковскую карту
        </li>
      </ul>
      <br>
      <a href="/pages/terms">Подробнее</a>
    </div>
    <div class="tab-panel tab-panel_4">
      <ul>
        <li>Самовывоз со склада в г. Чебоксары</li>
        <li>Транспортной компанией, имеющей офис в г. Чебоксары</li>
        <li>Курьерской службой (CDEK)</li>
        <li>Почтой России</li>
      </ul>
      <br>
      <a href="/pages/delivery">Подробнее</a>
      
    </div>
    <div class="tab-panel tab-panel_5">
      <p>Вся продукция сертифицирована.</p>
      <br>
      <a href="/pages/certificates">Подробнее</a>
    </div>
    <div class="tab-panel tab-panel_6">
      <p>Одной из важных составляющих работы нашего интернет-магазина является то, что продаваемые товары сертифицированы и обеспечены фирменной гарантией производителя.</p><br>
      <a href="/pages/guarantee">Подробнее</a>
    </div>
    <div class="mt-3">
      <%- await Main.ItemSet('blocks/sets/default', 'pop_items', 'популярные товары') %>
    </div>
  </div>
</div>