<div class="breadcrumbs">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/account">Учетная запись</a></li>
    <li><span class="current">Список заказов</span></li>
  </ul>
</div>

<div class="cart-content">
  <% if (orders) { %>
    <table class="shopping-cart-content">
      <tbody>
        <tr class="title">
          <td class="">№</td>
          <td class="">Сумма</td>
          <td class="">Позиции заказа</td>
        </tr>
        <% orders.map(order => { %>
          <tr class="each-item">
            <td class="">
              <a href="/order/<%- order.order_id %>"><%- order.order_id %></a>
            </td>
            <td class="">
              <%- order.sum %> Р
            </td>
            <td class="">
              <% order.goods.map(item => { %>
                <ul class="list-unstyled">
                  <li>
                    <span>
                      <%- item.cart_quantity %>x
                    </span>
                    <span>
                      <a href="/item/<%- item.proto_item %>"><%- item.caption %></a>
                    </span>
                  </li>
                </ul>
              <% }) %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    Ошибка:
    <%- error %>
  <% } %>
</div>