<% if(orderData) { %>
<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">Заказ № <%- orderData.order_id %></span></li>
    </ul>
</div>
<div class="">
    <h1 class="mb-3">
        Заказ № <%- orderData.order_id %>
        <br>
        <span style="font-size: 18px; font-weight: 500; text-transform: uppercase;">Проверка</span>
    </h1>
    <% if(user) { %> 
        <h3 class="border border-primary p-2 mb-3 text-center">Ваш заказ успешно создан.</h3>
    <% } else { %>
        <h3 class="border border-primary p-2 mb-3 text-center">Ваш заказ успешно создан. Наши менеджеры свяжутся с вами в ближайшее время</h3>
    <% } %>    
    <table class="shopping-cart-content">
        <tbody>
            <tr class="title">
            <td class="">№</td>
            <td class="">Сумма</td>
            <td class="">Позиции заказа</td>
            </tr>
            <tr class="each-item">
                <td class="">
                <a href="/order/<%- orderData.order_id %>"><%- orderData.order_id %></a>
                </td>
                <td class="">
                <%- orderData.sum %> Р
                </td>
                <td class="">
                <% orderData.goods.map(item => { %>
                    <ul class="list-unstyled">
                    <li>
                        <span>
                        <%- item.cart_quantity %>x
                        </span>
                        <span>
                        <a href="/item/<%- item.product_id %>"><%- item.caption %></a>
                        </span>
                    </li>
                    </ul>
                <% }) %>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="mb-1 text-right mb-3"> Сумма заказа: <strong style="color: #ff475d;"><%- orderData.sum %> Р</strong></p>
    <% if(user) { %>
    <p class="mb-1 text-right">
        <a class="btn btn-outline-danger" href="/payment/<%- orderData.order_id %>">Оформить</a>
    </p>
    <% } else { %>
        <p class="mb-1 text-right">
            Чтобы оплатить заказ, <a href="/auth">авторизируйтесь</a> или пройдите <a href="/register">регистрацию</a>.
        </p>
    <% } %>
</div>
<% } else { %>
    <%- error %>
<% } %>