<aside class="mot21-sidebar">
    <div class="mot21-sidebar__inner" data-bind="navbarCart" style="visibility: visible;">
        <div class="mot21-sidebar-circle">
            <div class="mot21-sidebar-circle__inner">
                <svg class="icon">
                    <use xlink:href="#icon-cart"></use>
                </svg>
            </div>
            <span class="mot21-sidebar-circle__count"><%- cart.length %></span>
        </div>
        <div class="mot21-sidebar__wrapper">
            <div class="mot21-sidebar__content">
                <div class="mot21-sidebar-cart">
                    <h5 class="mot21-sidebar-cart__title">Ваша корзина</h5>
                    <ul class="mot21-sidebar-cart__list mot21-scroll-panel">
                        <% cart.map(row => { %>
                            <% if(row.cart_row_id) { %>
                                <li class="mot21-sidebar-cart__item">
                                    <div class="mot21-sidebar-cart__name">
                                        <span class="mot21-sidebar-cart__item-qty"><%- row.quantity %>x </span>
                                        <a class="mot21-sidebar-cart__item-name" title="Motul 4100 Turbolight 10W40 4л"><%- row.type %> <%- row.caption %></a>
                                    </div>
                                    <div class="mot21-sidebar-cart__price">
                                        <span class="mot21-sidebar-cart__price-value"><%- row.fixed_price * row.quantity %> Р</span>
                                        <button class="mot21-sidebar-cart__price-delete" title="Удалить товар из корзины" onClick="Cart.remove(event, <%- row.cart_row_id %>)">Удалить</button>
                                    </div>
                                </li>
                            <% } else { %>
                                <span>Товары отсутствуют</span>
                            <% } %>
                        <% }) %>
                    </ul>
                    <% if (cart.length) { %>
                        <div class="mot21-sidebar-cart__footer">
                            <!--<a href="#0" class="mot21-sidebar-cart__discount" onclick="goToVK(event);">Получить скидку</a>-->
                            <a href="/cart" class="mot21-sidebar-cart__issue">Оформить</a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</aside>