<div class="breadcrumbs">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><span class="current">Оформление заказа</span></li>
  </ul>
</div>

<h1>Оформление заказа</h1>

<%- await Cart.checkout() %>