<div class="breadcrumbs">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><span class="current"><%- catName %></span></li>
  </ul>
</div>
<div class="row">
  <div class="mobile-filter-btn d-lg-none" onclick="toggleClass(event, 'active', '.mobile-filter')">
    <svg class="icon">
      <use xlink:href="#icon-filter"></use>
    </svg>
  </div>
  <div class="mobile-menu mobile-filter">
    <div class="mobile-menu-content">
      <div class="mobile-menu-header">
        <span class="mobile-menu-title">Фильтр</span>
        <button type="button" class="close" aria-label="Close" onclick="toggleClass(event, 'active', '.mobile-filter')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="mobile-menu-body">
        <div class="mobile-menu-navs">
          <div class="accordion-widget category-accordions">
            <form id="form.id()" POST="form.url()">
              <div class="accordion">
                <%- await form.props(cat) %>
              </div>
              <div class="pl-4 pb-4">
                <button class="btn">Применить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-shadow" onclick="toggleClass(event, 'active', '.mobile-filter')"></div>
  </div>
  <div class="col-3 col-lg-3 d-none d-lg-block">
    <div class="sidebar">
      <div class="accordion-widget category-accordions">
        <form id="form.id()" POST="form.url()">
          <div class="accordion">
            <%- await form.props(cat) %>
          </div>
          <div class="pl-4 pb-4">
            <button class="btn">Применить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <div class="row products-grid">
      <% items.map(item => { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 product-holder">
          <div class="product-item">
            <div class="thumb shine">
              <a class="thumb-link" href="/item/<%- item.item_id %>">
                <div class="thumb-img" style="background-image: url('http://static.hlopokray.ru<%- item.image_url %>');"></div>
              </a>
            </div>
            <div class="info">
              <a class="product-name" href="#0">Комплект постельного белья<span><%- item.item_name %></span></a>
              <div class="price">от&nbsp;<span><%- item.price_min %></span>&nbsp;Р</div>
            </div>
            <div class="group-button">
              <div class="inner">
                <ul class="variant-list">
                  <% if(item.sub_items) { %>
                    <% item.sub_items.map(sub => { %>
                      <li class="variant-item">
                        <a href="/item/<%- item.item_id %>">
                          <span class="variant-name"><%- sub.name %> <%- sub.prop %></span>
                          <span class="variant-price"><%- sub.price %>&nbsp;Р</span>
                        </a>
                      </li>
                    <% })%>
                  <% } else { %>
                    <li class="variant-item">
                      <a href="/item/<%- item.item_id %>">
                        <span class="variant-name">Нет данных</span>
                        <span class="variant-price">Нет данных</span>
                      </a>
                    </li>
                  <% } %>
                </ul>
                <a class="product-more" href="/item/<%- item.item_id %>">Показать все размеры</a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>