<section class="latest mb-0">
  <h2 class="mb-3"> <%- block_name %></h2>
  <div class="row products-grid">
    <% set.map(item => { %>
      <div class="col-sm-6 col-md-4 col-xl-3 product-holder">
        <div class="product-item">
          <div class="thumb shine">
            <a class="thumb-link" href="/item/<%- item.item_id %>">
              <div class="thumb-img" style="background-image: url('http://static.hlopokray.ru<%- item.image_path %>');"></div>
            </a>
          </div>
          <div class="info">
            <a class="product-name" href="/item/<%- item.item_id %>">Комплект постельного белья<span><%- item.item_name %></span></a>
            <div class="price">от&nbsp;<span><%- item.price_min %></span>&nbsp;Р</div>
          </div>
          <div class="group-button">
            <div class="inner">
              <ul class="variant-list">
                <% if(item.sub_items) { %>
                  <% item.sub_items.map(sub => { %>
                    <li class="variant-item">
                      <a href="/item/<%- item.item_id %>">
                        <span class="variant-name"><%- sub.name %> <%- sub.prop %></span>
                        <span class="variant-price"><%- sub.price %>&nbsp;Р</span>
                      </a>
                    </li>
                  <% })%>
                  <% } %>
                </ul>
              <a class="product-more" href="/item/<%- item.item_id %>">Показать все размеры</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</section>