<div class="container">
  <div class="content">
      <div class="left-block">
      </div>
      <div class="right-block">
          <div>
              <h1 style="font-size: 88px;">404</h1>
              <h2>Страница не найдена</h2>
              <p>Сожалеем, но страницы которую вы искали не существует. Воспользуйтесь нашим каталогом товаров слева или введите
                  в поиск то что хотели найти.</p>
              <p>В любом случае - если вы уверены что страница должна существовать или вам нужна помощь в поиске, возникли
                  какие-нибудь вопросы - пишите нам на почту
                  <a href="mailto:hlopokray21@mail.ru">hlopokray21@mail.ru</a> или звоните
                  <a href="tel:+79373737522">8 (937) 375-75-22</a>. Мы будем рады вам помочь!</p>
          </div>
      </div>
  </div>
</div>
