<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">О компании</span></li>
    </ul>
</div>
<h1>О компании</h1>
<div class="content">
    <div class="right-block">
        <p>Текстильная Компания «Хлопковый Рай» - одна из самых известных на рынке домашнего текстиля более
            10 лет и стабильно развивающаяся компания на текстильном рынке России.</p>
        <p>Ассортимент продукции под этим брендом очень широк и постоянно обновляется с учетом последних
            разработок и мировых тенденций текстильного рынка.</p>
        <p>Все вокруг постоянно меняется, нам хочется привнести что-то новое и в свой повседневный быт.
            Самый простой и быстрый способ преобразить интерьер – использовать для этого новый текстиль.</p>
        <p>Цель нашей компании - обеспечить потребителя лучшими текстильными изделиями, путем решения
            логистических задач предприятий и предпринимателей региона с оптимальными для них затратами и
            профессиональным качеством исполнения.</p>
        <p>Основным достоинством деятельности компании является широкий ассортимент производства комплектов
            постельного белья.</p>
        <p>Компания отслеживает современные тенденции моды и воплощает в изделиях собственного
            производства.</p>
        <p>Разработка дизайна производится в процессе активного контакта с клиентами, сопряжена с изучением
            их потребностей.</p>
        <p>Применение тканей российских и зарубежных производителей помогают создать разнообразие дизайна и
            моделей производимой продукции, которая может удовлетворить вкусы любого покупателя.</p>
        <p>Продукция компании отличается высоким качеством и соответствием ГОСТам.</p>
        <h4>Текстильная компания «Хлопковый Рай» сегодня – это:</h4>
        <ul>
            <li>одна из лидирующих компаний текстильной отрасли России</li>
            <li>компания с более чем 10-летней историей</li>
            <li>компания, выпускающая широкий ассортимент высококачественных тканей для домашнего текстиля
            </li>
            <li>компания, производящую продукцию, которую используют тысячи семей в России и ближнем
                зарубежье
            </li>
            <li>высокое качество предлагаемого продукта;</li>
            <li>широкий диапазон набора;</li>
            <li>присутствие огромных остатков на складах фирмы;</li>
            <li>наработка заказа отдельно под покупателя</li>
            <li>поставка комплектов постельного белья оптом по заявке;</li>
            <li>высочайший сервис обслуживания</li>
            <li>интернет-магазин «Хлопковый Рай»</li>
        </ul>
    </div>
</div>