<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">Сертификаты</span></li>
    </ul>
</div>

<h1>Сертификаты</h1>
<div class="content">
    <div class="left-block">
    </div>
    <div class="right-block">
        <img src="/static/img/cert.jpg" alt="Сертификат" width="750px">
    </div>
</div>