<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">Контакты</span></li>
    </ul>
</div>
<h1>Контакты</h1>
<div class="content">
    <div class="right-block">
        <h4>Офис /Основной склад</h4>
        <p>428022, г. Чебоксары, ул. Космонавта А.Г. Николаева, д. 47</p>
        <p>тел.8-937-373-75-22 (вайбер, ватсап)</p>
        <p>с 9-00 до 17-00</p>
        <p>Надежда Филиппова</p>

        <br>

        <h4>Менеджер отдела продаж, интернет менеджер</h4>
        <p>тел.8-937-373-75-22 (вайбер, ватсап)</p>
        <p>Надежда Филиппова</p>
        <p><a href="mailto:superhlopok21@mail.ru">superhlopok21@mail.ru</a></p>

        <br>

        <h4>Менеджер по работе с Организаторами СП</h4>
        <p>тел.8-917-665-21-00 (вайбер, ватсап)</p>
        <p>Надежда Терентьева</p>

        <p><a href="mailto:superhlopok021@mail.ru">superhlopok021@mail.ru</a></p>
        <p><a href='https://vk.com/club165291657'>Группа "Вконтакте"</a></p>
        <p><a href='https://vk.com/cottonhope'>Страница администратор</a></p>
        <p><a href='https://www.instagram.com/superhlopok21/'>Страница "Инстаграм"</a></p>
        <p><a href="https://ok.ru/group/53895195132158">Группа "Одноклассники"</a></p>

        <br>

        <h4>Отдел маркетинга и оптовых продаж</h4>
        <p>Алена Румянцева</p>
        <p>Коммерческий директор тел.8-903-063-88-17 (вайбер, ватсап)</p>
        <p>hlopokray21@mail.ru</p>

        <br>

        <h4>Реквизиты</h4>
        <p>Индивидуальный предприниматель Дмитриев Александр Сергеевич</p>
        <P>ИНН  213012335400</P>
        <p>ОГРНИП 314213025100077</p>
        <p>ОКПО 0196064406</p>

    </div>
</div>