<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">Доставка</span></li>
    </ul>
</div>
<h1>Доставка</h1>
<div class="content">
    <div class="right-block">
        <h4>Способы доставки:</h4>
        <ul>
            <li>Самовывоз со склада в г. Чебоксары</li>
            <li>Транспортной компанией, имеющей офис в г. Чебоксары</li>
            <li>Курьерской службой (CDEK)</li>
            <li>Почтой России</li>
        </ul>

        <p>Транспортные компании, с которыми мы работаем:</p>
        <p>«ПЭК», «КИТ сервис», «Байкал», «Деловые линии», «Энергия», «Ратэк», «СДЭК», «Почта России».</p>
        <p>Доставка заказа до офиса транспортной компании осуществляется бесплатно!</p>
        <p>Сотрудничество с нашей компанией позволят Вам добиться наибольших результатов в бизнесе!</p>
        <p>Примерные сроки и стоимость доставки Вы можете запросить у наших менеджеров.</p>
    </div>
</div>