<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <span class="current">Гарантия</span>
        </li>
    </ul>
</div>
<h1>Гарантия</h1>
<div class="content">
    <div class="right-block">
        <div>
            <p>Одной из важных составляющих работы нашего интернет-магазина является то, что продаваемые товары сертифицированы
                и обеспечены фирменной гарантией производителя.</p>
            <h4>Для осуществления гарантийного обслуживания необходимы:</h4>
            <ol>
                <li>правильно и без помарок и исправлений заполненный гарантийный талон, в котором должны быть указаны модель
                    и серийный номер изделия, дата продажи и печать торгующей организации;
                </li>
                <li>документ, подтверждающий покупку (товарная накладная);</li>
                <li>полная комплектация товара.</li>
            </ol>
            <p>Обращаем также ваше внимание на то, что при получении и оплате заказа покупатель в присутствии курьера обязан
                проверить комплектацию и внешний вид изделия на предмет отсутствия физических дефектов и полноту комплектации.
                После отъезда курьера претензии по этим вопросам не принимаются.</p>
            <h4>Гарантийное обслуживание не производится, если:</h4>
            <ol>
                <li>утерян или не заполнен гарантийный талон</li>
                <li>товар был поставлен на территорию РФ неофициально</li>
                <li>изделие имеет следы механического повреждения или вскрытия</li>
                <li>нарушены заводская упаковка или пломбы</li>
                <li>были нарушены условия эксплуатации, транспортировки или хранения</li>
            </ol>
            <p>Подробное описание условий предоставления гарантии вы можете найти в документации к приобретенному товару.</p>
        </div>
    </div>
</div>