<div class="breadcrumbs">
  <ul>
    <li>
      <a href="/">Главная</a>
    </li>
    <li>
      <span class="current">Организаторам СП</span>
    </li>
  </ul>
</div>
<h1>Организаторам СП</h1>
<div class="content">
  <div class="right-block">
    <h4>Уважаемые организаторы совместных покупок!</h4>

    <p>Текстильная компания «Хлопковый Рай» приглашает Организаторов СП к сотрудничеству!</p>

    <h4>Работать с нами выгодно и легко:</h4>
    <ul>
      <li>Широкий ассортимент продукции позволяет приобрести все разнообразие текстиля для дома</li>
      <li>Мы резервируем заказанные товары, с момента открытия закупки и до ее окончания.</li>
      <li>Это дает гарантию, что Ваш клиент обязательно получит выбранные им комплекты.</li>
      <li>Менеджер сразу проверит наличие заказанного товара и перезвонит вам.</li>
      <li>За бронирование не требуется оплата.</li>
      <li>Не дожидайтесь окончания закупки, без предоплаты бронируйте товар по мере сбора заказов!
      </li>
      <li>Если выбранного товара не оказалось в наличии, вы легко сможете предложить клиенту варианты замены. Менеджер быстро
        предоставит Вам данные по остаткам.
      </li>
    </ul>

    <h4>С нами удобно:</h4>
    <ul>
      <li>возможность автоматической выгрузки каталогов в соцсети Вконтакте и Одноклассники</li>
      <li>фотографии продукции в электронном виде</li>
      <li>качественные комплекты постельного белья из 100% хлопка</li>
      <li>выгодная цена от производителя</li>
      <li>за Вами закрепляется персональный менеджер, который поможет Вам оформить заявку и подберет удобный способ доставки.
      </li>
    </ul>

    <p>Сумма минимального заказа для организаторов совместных покупок составляет 10 000 рублей. Всю продукцию можно приобретать
      поштучно.
    </p>
    <p>Позвоните нам по телефонам 8 (8352) 00-00-00, 8-917-665-21-00 или напишите нам и уже сегодня мы станем Вашим бизнес–партнером!</p>

    <h4>Оставьте заявку на получение оптового прайса для Организаторов сп</h4>

    <div class="faq-block">
      <form class="" name="" id="rf-register-form" action="/task/jointPurchases" method="POST">
        <div class="js-form-error" hidden>Ошибка</div>

        <div class="form-row">
          <div class="col-12 col-sm-6">
            <div style="margin-bottom: 19px;">
              <label class="col-form-label" for="register-textarea">Вопрос
                <span class="star">*</span>
              </label>
              <textarea class="form-control" style="height: 222px;" cols="50" name='text' id='register-textarea'></textarea>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div style="margin-bottom: 19px;">
              <label class="col-form-label" for="register-name">Ваше имя
                <span class="star">*</span>
              </label>
              <input class="form-control" type="text" id="register-name" name="name" data-validate="name" required>
            </div>

            <div style="margin-bottom: 19px;">
              <label class="col-form-label" for="register-email">Email
                <span class="star">*</span>
              </label>
              <input class="form-control" type="text" id="register-email" name="email" data-validate="email" required>
            </div>

            <div style="margin-bottom: 19px;">
              <label class="col-form-label" for="register-phone">Контактный телефон
                <span class="star">*</span>
              </label>
              <input class="form-control" type="phone" id="register-phone" name="phone" data-validate="phone" required>
            </div>
          </div>
        </div>

        <div style="display: flex">
          <button class="btn btn-danger"  type="submit">Запросить</button>
          <button class="btn btn-outline-danger" type="reset" style="margin-left: 5px;">Сбросить</button>
        </div>

        <div style='margin-top: 10px;' class="mm-legal-text">Нажимая кнопку «Запросить», Вы подверждаете, что ознакомились с
          <a href="/page/legal">Условиями обработки персональных данных</a> и принимаете их</div>
      </form>
    </div>

    <br>

    <h4>Заказ можно оставить:</h4>
    <ul>
      <li>Через корзину: после получения мы пересчитаем заказ по оптовым ценам</li>
      <li>По телефону: Вы можете продиктовать нам заказ</li>
    </ul>

    <p>После формирования заказа мы сделаем расчеты и выставим счет.</p>

    <p>Транспортные компании, с которыми мы работаем:</p>
    <p>«ПЭК», «КИТ сервис», «Байкал», «Деловые линии», «Энергия», «Ратэк», «СДЭК», «Почта России».</p>
    <p>Доставка заказа до офиса транспортной компании осуществляется бесплатно!</p>
    <p>Сотрудничество с нашей компанией позволят Вам добиться наибольших результатов в бизнесе!</p>

    <address>
      Ваш личный менеджер Надежда Терентьева
      <br> Тел. 8-917-665-21-00 (вайбер, ватсап)
      <br> Superhlopok021@mail.ru
      <br>
    </address>
  </div>
</div>