<div class="breadcrumbs">
  <ul>
    <li>
      <a href="/">Главная</a>
    </li>
    <li>
      <span class="current">Договор публичной оферты о продаже товаров интернет-магазина HLOPOKRAY.RU</span>
    </li>
  </ul>
</div>

<div class="content">
  <div class="left-block">
  </div>
  <div class="right-block">
    <div>
      <h1>Договор публичной оферты о продаже товаров интернет-магазина HLOPOKRAY.RU</h1>
      <h2>Oсновные положения</h2>
      <ol>
        <li>Настоящее Соглашение, заключается между ИП Дмитриевым А.С (далее Продавец), владеющий Интернет-магазином HLOPOKRAY.RU,
          адрес в сети Интернет WWW.HLOPOKRAY.RU (далее Интернет-магазин), и пользователем услуг Интернет-магазина (далее
          Покупатель), и определяет условия приобретения товаров через сайт Интернет-магазина.
        </li>
        <li>Покупатель подтверждает свое согласие с условиями, установленными настоящим Соглашением, путем проставления отметки
          в графе «Я прочитал(-а) Условия соглашения и согласен(-на) с условиями» при оформлении заказа.</li>
        <li>В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (далее - ГК РФ) данный документ является
          публичной офертой, адресованной физическим лицам, и в случае принятия изложенных ниже условий, физическое лицо
          обязуется произвести оплату Товара и его доставки на условиях, изложенных в настоящей оферте.</li>
        <li> В соответствии с пунктом 3 статьи 438 ГК РФ, оплата Товара Покупателем является акцептом оферты Продавца, что является
          равносильным заключению Договора купли-продажи Товара на условиях, установленных в настоящей оферте и на Сайте.</li>
        <li>Продавец и Покупатель гарантируют, что обладают необходимой право- и дееспособностью, а также всеми правами и полномочиями,
          необходимыми и достаточными для заключения и исполнения Договора розничной купли-продажи Товара.
        </li>
        <li>Заказывая Товары через Интернет-магазин, Покупатель безоговорочно принимает условия настоящей оферты, а также условия,
          указанные на Сайте. Оформленный Покупателем на сайте Заказ Товара является подтверждением заключенной между Продавцом
          и Покупателем сделки (Договора) по розничной купле-продаже Товара.</li>
        <li> К отношениям между Покупателем и Продавцом применяются положения ГК РФ (в т.ч. положение о розничной купле-продаже
          (глава 30, § 2)), Закон РФ «О защите прав потребителей» от 07.02.1992 г. № 2300-1, Постановление Правительства
          РФ от 27.09.2007 г. №612 «Об утверждении Правил продажи товаров дистанционным способом» и иные положения действующего
          законодательства РФ.</li>
        <li>Продавец оставляет за собой право вносить изменения в настоящую оферту, в связи с чем Покупатель обязуется самостоятельно
          контролировать наличие изменений в оферте, размещенной на Сайте. Уведомление об изменении настоящей оферты Продавец
          обязан разместить не позднее, чем за 7 (семь) рабочих дней до даты их вступления в силу.</li>
        <li>На основании вышеизложенного внимательно ознакомьтесь с текстом публичной оферты, и, если вы не согласны с каким-либо
          пунктом оферты, Вам предлагается отказаться от покупки Товаров или использования Услуг, предоставляемых Продавцом.</li>
        <li>Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на сайте интернет-магазина, и должно
          применяться и толковаться в соответствии с законодательством Российской Федерации.</li>
        <li>В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:
          <ol>
            <li>«Оферта» – публичное предложение Продавца, адресованное любому физическому лицу (гражданину), заключить с ним
              договор купли-продажи (далее «Договор») на существующих условиях, содержащихся в Договоре, включая все его
              приложения.</li>
            <li>«Покупатель» – физическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в Договоре.</li>
            <li>«Акцепт» – полное и безоговорочное принятие Покупателем условий Договора.</li>
            <li>«Товар» – перечень наименований категории «постельное белье», представленный на официальном интернет-сайте Продавца.
            </li>
            <li>«Заказ» – отдельные позиции из ассортиментного перечня Товара, указанные Покупателем при оформлении заявки на
              интернет-сайте или через Оператора.</li>
            <li>«Доставка» – курьерские услуги по доставке Заказа.</li>
          </ol>
        </li>
      </ol>

      <h2>Предмет соглашения</h2>
      <ol>
        <li>Продавец обязуется передать в собственность Покупателю, а Покупатель обязуется оплатить и принять Товар категории
          «постельное белье», заказанный в Интернет-магазине HLOPOKRAY.RU.</li>
        <li>Право собственности на заказанные Товары переходит к Покупателю с момента фактической передачи Товара Покупателю
          и оплаты последним полной стоимости Товара. Риск случайного уничтожения или повреждения Товара переходит к Покупателю
          с момента фактической передачи Товара Покупателю.</li>
        <li>Факт оформления заказа Покупателем является безоговорочным фактом принятия Покупателем условий данного Соглашения.</li>
      </ol>

      <h2>Офорление и исполнение заказа</h2>

      <ol>
        <li> Заказ Товара осуществляется Покупателем на Интернет-сайте Продавца WWW.HLOPOKRAY.RU(далее – Сайт).</li>
        <li> Оформить Заказ в Интернет-магазине могут зарегистрированные покупатели</li>
        <li> При регистрации на Сайте Покупатель обязуется предоставить следующую регистрационную информацию о себе:
          <ol>
            <li>Фамилия, Имя</li>
            <li>Адрес электронной почты</li>
            <li>Контактный телефон(мобильный, стационарный)</li>
          </ol>
        </li>
        <li>Продавец обязуется не сообщать данные Покупателя, указанные при регистрации на сайте Продавца и при оформлении Заказа,
          лицам, не имеющим отношения к исполнению Заказа.</li>
        <li>Продавец не несет ответственность за содержание и достоверность информации, предоставленной Покупателем при оформлении
          Заказа.</li>
        <li>Покупатель несёт ответственность за достоверность предоставленной информации при оформлении Заказа.</li>
        <li>Оплата Покупателем самостоятельно оформленного на сайте Заказа и проставление соответствующей отметки на странице
          оплаты означает согласие Покупателя с условиями настоящего Договора. День оплаты Заказа является датой заключения
          Договора купли-продажи между Продавцом и Покупателем.</li>
        <li>После завершения процесса оформления заказа ему автоматически присваивается идентификационный номер («№ заказа»).</li>
        <li>После завершения процесса оформления заказа ему автоматически присваивается идентификационный номер («№ заказа»).</li>
        <li>После получения товара у Покупателя на руках остаются следующие документы: счет, гарантийные талоны на каждый товар
          в заказе Покупателя и кассовый чек, выданный Продавцом.</li>
        <li>При регистрации Покупателя на сайте ему в обязательном порядке открывается Личный Кабинет, в котором отображаются
          все Заказы с указанием их состояния (оплата / отмена / исполнение / и т.д.). Подтверждение факта размещения Заказа
          на указанный Покупателем номер мобильного телефона и адрес электронной почты является дополнительным.</li>
        <li>Факт оформления Заказа и оплаты Товара подтверждается направлением Покупателю электронного письма или соответствующей
          информацией в Личном Кабинете. В случае неполучения Покупателем письма, отправленного на адрес электронной почты
          или отсутствия информации в Личном Кабинете Покупатель должен связаться с Продавцом для получения подтверждения
          об оплате Товара в течение 1 (одних) суток с момента оплаты.</li>
        <li>Все информационные материалы, представленные на сайте Продавца, носят справочный характер и не могут в полной мере
          передавать достоверную информацию об определенных свойствах и характеристиках Товара. В случае возникновения у
          Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа ему необходимо обратиться
          за консультацией к Продавцу.</li>
      </ol>
      <h2>Сроки исполнения заказа</h2>
      <ol>
        <li>Срок исполнения Заказа зависит от наличия заказанных позиций Товара на складе Продавца и времени, необходимого на
          обработку Заказа. Срок исполнения Заказа в исключительных случаях может быть оговорен с Покупателем индивидуально
          в зависимости от характеристик и количества заказанного Товара. В случае отсутствия части Заказа на складе Продавца,
          в том числе по причинам, не зависящим от последнего, Продавец вправе аннулировать указанный Товар из Заказа Покупателя.
          Продавец обязуется уведомить Покупателя об изменении комплектности его Заказа.</li>
        <li> В случае, если срок исполнения заказа не указан при оформлении заказа, по умолчанию принимается срок 30 (тридцать)
          календарных дней.
        </li>
        <li>Заказ считается доставленным в момент его передачи Покупателю. Подписываясь в листе курьера, Покупатель подтверждает
          исполнение Заказа.</li>
        <li> В случае предоставления Покупателем недостоверной информации его контактных данных Продавец за ненадлежащее исполнение
          Заказа ответственности не несет.</li>
        <li>В случае ненадлежащего исполнения доставки Заказа по вине Продавца повторная доставка Заказа осуществляется бесплатно,
          либо Заказ может быть аннулирован по требованию Покупателя с последующим возвратом денежных средств на банковскую
          карту или счет Покупателя в зависимости от способа оплаты.
        </li>
      </ol>
      <h2>Оплата товара</h2>
      <ol>
        <li> Цены на Товар определяются Продавцом в одностороннем порядке и указываются на Сайте в российских рублях. Цена Товара
          может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный и оплаченный Покупателем Товар
          изменению не подлежит.</li>
        <li>Покупатель обязан оплатить заказанный Товар в течение 3 (трех) банковских дней с даты оформления Заказа.</li>
        <li>Оплата Товара Покупателем производится в российских рублях наличными, платежной картой или банковским переводом путем
          перечисления денежных средств на расчетный счет ИП Дмитриева А.С</li>
        <li>При оплате заказа с использованием платежной карты ввод реквизитов карты происходит в системе электронных платежей
          ПАО АКБ «Авангард», который прошел сертификацию в платежных системах Visa Inc.,MasterCard Worldwide и МИР на совершение
          операций с аутентификацией 3-D Secure. Представленные Вами данные полностью защищены в рамках стандарта безопасности
          данных индустрии платежных карт (Payment Card Industry Data Security Standard) и никто, включая наш интернет-магазин,
          не может их получить.</li>
        <li>Предоплата банковским переводом осуществляется только после подтверждения Заказа менеджером Продавца.</li>
        <li>После подтверждения Заказа менеджером квитанция на оплату отправляется Покупателю на адрес электронной почты, либо
          распечатывается Покупателем с Сайта. Получив квитанцию на оплату, в которой указана сумма платежа, реквизиты платежа,
          номер Заказа и данные плательщика, Покупатель может произвести платеж банковским переводом на счет Продавца.</li>
        <li>Оплата Товара считается произведенной с момента успешного завершения операции по карте или поступления денежных средств
          на счет Продавца при безналичном способе платежа. Факт оплаты услуги подтверждается Продавцом путем изменения статуса
          Заказа в Личном Кабинете Покупателя и / или направления Покупателю письма на адрес электронной почты, указанный
          Покупателем.
        </li>
        <li>Договор купли - продажи считается заключенным с момента оплаты Покупателем Товара</li>
      </ol>
      <h2>Доставка товара</h2>
      <ol>
        <li> Доставка осуществляется на условиях осуществления полной предоплаты Покупателем Заказа, посредством наличного или
          безналичного расчета: банковской карты, банковского перевода.</li>
        <li>При доставке заказанные Товары вручаются Покупателю, а при его отсутствии – любому лицу (далее – Уполномоченное лицо),
          предъявившему квитанцию или иной документ, подтверждающий произведенную Покупателем предоплату.
        </li>
        <li>Обязанность Продавца по поставке Товара с условием о его доставке считается выполненной с момента подписания Покупателем
          или Уполномоченным лицом товаросопроводительных документов. Приемка Товара без замечаний лишает Покупателя права
          ссылаться на  несоответствие фактически поставленного Товара Заказу или сопроводительному документу.
        </li>
        <li>Право собственности на Товар и риски случайного повреждения и/или гибели Товара переходят на Покупателя с момента
          фактической передачи Товара и подписания им или Уполномоченным лицом товаросопроводительных документов при доставке
          Товара Покупателю.</li>
        <li>Стоимость доставки и условия указаны на сайте компании WWW.HLOPOKRAY.RU.</li>
        <li>Продавец приложит все усилия для соблюдения сроков доставки Товара, установленных в настоящей оферте и/или на Сайте.
          Однако задержки в доставке Товара возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
          Срок доставки зависит от местонахождения Покупателя и составляет от 1 (одного) до 30 (тридцати) календарных дней.</li>
        <li>Покупатель вправе в любой момент времени отказаться от Заказа до момента его передачи в службу доставки.</li>
        <li> В случае если Товар не был передан Покупателю по вине последнего, повторная доставка может быть произведена при условии
          согласования Продавцом и Покупателем новых сроков доставки и при условии оплаты Покупателем стоимости вторичной
          доставки Товара.</li>
        <li> В случае отказа Покупателя от приемки и оплаты Товара при Заказе, Покупатель обязуется оплатить Курьерской службе
          стоимость доставки Товара.
        </li>
      </ol>
      <h2>Возврат и обмен товара</h2>
      <ol>
        <li>Возврат и обмен Товара осуществляется в соответствии с законодательством. ПОКУПАТЕЛЬ не вправе требовать возврата
          или обмена Товаров надлежащего качества, указанные в Перечне непродовольственных товаров надлежащего качества,
          не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.</li>
        <li>В течение 14 (четырнадцати) календарных дней с момента получения Товара Покупатель вправе обменять товар надлежащего
          качества на аналогичный товар, если указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру
          или комплектации.</li>
        <li>Покупатель компенсирует Продавцу необходимые транспортные расходы, понесенные в связи с организацией обмена или возврата
          Товара.</li>
        <li>В соответствии с п. 4. ст. 26.1. Закона РФ № 2300-I «О Защите прав потребителей» Покупатель вправе отказаться от
          заказанного Товара в любое время до момента исполнения Заказа.</li>
        <li>В случае доставки Продавцом Товара ненадлежащего качества Покупатель обязуется предоставить Товар в офис Продавца
          в максимально короткие сроки для осуществления проверки качества Товара.</li>
        <li>Возврат Товара ненадлежащего качества возможен в течение срока гарантийного обслуживания при условии обязательного
          предоставления заключения технической экспертизы Службой гарантийного ремонта или независимой экспертизы.</li>
        <li> Покупатель вправе отказаться от Товара надлежащего качества в течение 7 (семи) календарных дней с момента получения
          Товара в том случае, если Товар не был в употреблении, сохранены упаковка, товарный вид, потребительские свойства,
          пломбы, фабричные ярлыки, а также отгрузочные документы и/или чеки об оплате товара, если таковые имеются.
        </li>
        <li>Для возврата Товара надлежащего качества Покупатель направляет заявление с копиями документов, подтверждающих факт
          покупки в интернет- магазине WWW.HLOPOKRAY.RU , по почте, по электронной почте superhlopok21@mail.ru или непосредственно
          в Офис Продавца. Продавец принимает заявление к рассмотрению в течение 5 рабочих дней согласовывает с Покупателем
          условия возврата товара. Продавец вправе отказать в возврате Товара, если выяснится, что товар был в эксплуатации,
          и/или имеет механические повреждения (трещины, царапины, сколы, отсутствие упаковки и т.д.).</li>
        <li>Возврат Товара осуществляется за счет Покупателя и организуется им самостоятельно.
        </li>
        <li> При возврате товара Покупатель обязан компенсировать продавцу все расходы, связанные с доставкой возвращаемого товара.
        </li>
        <li>В случае корректной оформленной процедуры возврата продавец возвращает уплаченные за товар денежные средства в течение
          10 рабочих дней с момента поступления заявления Покупателя на счёт, указанный в заявлении.</li>
        <li>При оплате платежной картой возврат денежных средств оформляется на карту, с которой была произведена оплата Заказа.
        </li>
        <li>Более подробную информацию об условиях возврата или обмена Товара смотрите в Условиях возврата Товара.</li>
      </ol>
      <h2>Форс-мажор</h2>
      <p>
        Любая из Сторон освобождается от ответственности за полное или частичное неисполнение своих обязательств по настоящему Договору,
        если это неисполнение было вызвано обстоятельствами непреодолимой силы. Обстоятельства Непреодолимой Силы означают
        чрезвычайные события и обстоятельства, которые Стороны не могли ни предвидеть, ни предотвратить разумными средствами.
        Такие чрезвычайные события или обстоятельства включают в себя, в частности: забастовки, наводнения, пожары, землетрясения
        и иные стихийные бедствия, военные действия и т.д.
      </p>

      <h2>Ответственность сторон</h2>
      <ol>
        <li>За неисполнение или ненадлежащее исполнение условий настоящего Договора (акцептованной Покупателем оферты Продавца)
          Стороны несут ответственность в соответствии с законодательством Российской Федерации.</li>
        <li> Вся текстовая информация и графические изображения, размещенные в Интернет-магазине и на Сайте имеют законного правообладателя.
          Незаконное использование указанной информации и изображений преследуется в соответствии с действующим законодательством
          Российской Федерации.</li>
        <li> Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования им Товаров,
          приобретённых в Интернет- магазине.
        </li>
        <li>родавец не отвечает за убытки Покупателя возникшие в результате неправильного заполнения Заказа, в т. ч. неправильного
          указания персональных данных, а также неправомерных действий третьих лиц.</li>
        <li>Покупатель несёт полную ответственность за достоверность сведений и персональных данных, указанных им при регистрации
          в Интернет-магазине.</li>
      </ol>
      <h2>Прочие условия</h2>
      <ol>
        <li> Все споры, связанные с неисполнением или ненадлежащим исполнением своих обязательств по настоящему Договору, Стороны
          будут стараться решить путем дружественных переговоров.</li>
        <li>В случае не достижения согласия в ходе переговоров, споры будут разрешаться в судебном порядке в соответствии с действующим
          законодательством Российской Федерации.</li>
        <li>Срок рассмотрения Заявления и возврата денежных средств Покупателю начинает исчисляться с момента получения Продавцом
          Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней. Если заявление поступило Продавцу
          после 18.00 рабочего дня или в праздничный/выходной день, моментом получения Продавцом Заявления считается следующий
          рабочий день.</li>
      </ol>
      <p>По вопросам оплаты, качества, своевременности получения услуг и другим вопросам в отношении операции по карте обращайтесь
        по телефону +7(937)373- 75-22 или по электронной почте: superhlopok21@mail.ru.</p>

      <h2>Адреса, Реквизиты продавца</h2>
      <p>Индивидуальный предприниматель Дмитриев Александр Сергеевич</p>
      <p>Свидетельство о регистрации: серия 21 № 002441053 от 8 сентября 2014 г.</p>
      <p>ИНН: 213012335400</p>
      <p>ОГРНИП: 314213025100077</p>
      <P>Расчетный счет № 40802810316100018189 в ПАО АКБ "АВАНГАРД" </P>
      <p>БИК: 044525201</p>
      <p>к/с 30101810000000000201 в ОПЕРУ МГТУ Банка России.</p>
      <p>Адрес: г. Чебоксары, ул.Николаева, д. 47,Телефон: +7 (937)-373-75-22</p>
      <p>E-mail: superhlopok21@mail.ru</p>
    </div>
  </div>
</div>