<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <span class="current">Упаковка</span>
        </li>
    </ul>
</div>

<h1 class="mb-3">Фирменная упаковка</h1>

<div class="row h-baguette-gallery">
    <div class="col-3 mb-4">
        <a href="/static/img/pack1.jpg">
            <img src="/static/img/pack1.jpg" alt="Фирменная упаковка">
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="/static/img/pack2.jpg">
            <img src="/static/img/pack2.jpg" alt="Фирменная упаковка">
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="/static/img/pack3.jpg">
            <img src="/static/img/pack3.jpg" alt="Фирменная упаковка">
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="/static/img/pack4.jpg">
            <img src="/static/img/pack4.jpg" alt="Фирменная упаковка">
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="/static/img/pack5.jpg">
            <img src="/static/img/pack5.jpg" alt="Фирменная упаковка">
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="/static/img/pack6.jpg">
            <img src="/static/img/pack6.jpg" alt="Фирменная упаковка">
        </a>
    </div>
</div>