<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <span class="current">Условия пользовательского соглашения</span>
        </li>
    </ul>
</div>

<div class="content">
    <div>
        <h1>Соглашение на обработку персональных данных</h1>

        <p>Покупатель, регистрируясь и оформляя заказ на сайте интернет-магазина «Хлопковый рай» (hlopokray.ru), принимает настоящее
            Соглашение на обработку персональных данных (далее – Соглашение)</p>

        <p>Принятием (акцептом) оферты Соглашения является оформление заказа или подписка на рассылку новостей. Настоящим Покупатель
            дает свое согласие ИП Дмитриеву А.С., на обработку своих персональных данных со следующими условиями:</p>

        <ol>
            <li>Данное Согласие дается на обработку персональных данных Покупателя, как без использования средств автоматизации,
                так и с их использованием.
            </li>

            <li>
                Цель обработки персональных данных:
                <ul>
                    <li>для регистрации Клиента на Сайте;</li>
                    <li>для выполнения своих обязательств перед Клиентом;</li>
                    <li>для оценки и анализа работы Сайта;</li>
                    <li>для определения победителя в акциях, проводимых Продавцом.</li>
                </ul>
            </li>

            <li>Продавец вправе направлять Клиенту сообщения, относящиеся к заказам Клиента.</li>
            <li>Продавец вправе направлять Клиенту сообщения рекламно-информационного характера при условии подписки Клиента
                на соответствующую рассылку(и). Если Клиент не желает получать рассылки от Продавца, он должен отписаться
                от них, перейдя по ссылке внизу любого их писем, полученных им в рамках рассылки новостей.
            </li>
            <li>Наиболее критичные данные, такие как пароль доступа к персональному разделу Клиента на Сайте, хранятся Продавцом
                в зашифрованном виде.
            </li>
            <li>Основанием для обработки персональных данных являются:
                <ul>
                    <li>ст. 24 Конституции Российской Федерации;</li>
                    <li>ст.6 Федерального закона №152-ФЗ «О персональных данных».</li>
                </ul>
            </li>
            <li>В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация, накопление,
                хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление,
                доступ), обезличивание, блокирование, удаление, уничтожение.
            </li>
            <li>Передача персональных данных третьим лицам осуществляется на основании законодательства Российской Федерации,
                договора с участием субъекта персональных данных или с согласия субъекта персональных данных.
            </li>
            <li>Персональные данные обрабатываются до окончания обработки. Так же обработка персональных данных может быть прекращена
                по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях
                осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно
                правовым актам в области архивного дела и архивного хранения.
            </li>
            <li>Согласие дается, в том числе на возможную трансграничную передачу персональных данных и информационные (рекламные)
                оповещения.
            </li>
            <li>Согласие может быть отозвано субъектом персональных данных или его представителем, путем направления письменного
                заявления ИП Дмитриеву А.С.
            </li>
            <li>В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных
                ИП Дмитриев А.С. вправе продолжить обработку персональных данных без согласия субъекта персональных данных
                при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11
                Федерального закона №152-ФЗ «О персональных данных» от 26.06.2006 г.
            </li>
            <li>Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.8
                данного Согласия.
            </li>
            <li>О сборе, хранении и обработке информации о персональных данных вы можете ознакомить в разделе "Политика конфиденциальности"
            </li>
        </ol>

        <h2>Политика конфиденциальности</h2>

        <h4>Общие положения</h4>
        <ol>
            <li>
                Мы придерживаемся принципов обеспечения конфиденциальности, в соответствии с требованиями действующего законодательства,
                рекомендациями международных ассоциаций в области охраны конфиденциальности и этическими нормами
            </li>
            <li>
                Мы осуществляем сбор, хранение, обработку, использование и распространение информации в целях предоставления пользователям
                необходимых услуг.
            </li>
            <li>
                Настоящая Политика конфиденциальности определяет основополагающие принципы в отношении источников, использования и распространения
                собираемой информации.
            </li>
        </ol>

        <h4>Сбор и использование информации</h4>
        <ol>
            <li>Мы собираем информацию, которая передается пользователями при регистрации с целью использования нашего сервиса
                и гарантируем, что предоставленная персональная информация не предоставляется третьим лицам и не разглашается.
                Мы принимаем все необходимые организационные и технические меры для защиты персональных данных пользователей
                от неправомерного или случайного доступа к ним третьих лиц, уничтожения, изменения, блокирования, копирования,
                распространения, а также от иных неправомерных действий.
            </li>

            <li>Агрегированные данные не позволяют получить какую-либо информацию о конкретных пользователях сервиса без их на
                то согласия. Собранные данные и полученная информация может храниться неограниченное количество времени.
            </li>
            <li>
                Мы гарантируем конфиденциальность финансовых данных, доверенных нам пользователями интернет-магазина. Финансовые данные не
                могут быть переданы третьей стороне и используются только для целей предоставления сервиса в соответствии
                с правилами сервиса.
            </li>
        </ol>

        <h4>Передача персональной информации третьей стороне</h4>

        <ol>
            <li>
                Мы не продаем и не передаем персональную информацию о пользователях сервиса. Мы вправе предоставлять доступ к персональной
                информации о пользователях сервиса лишь в следующих случаях:

                <ul>
                    <li>Пользователь сервиса дал на то согласие.</li>
                    <li>Этого требует российское законодательство или органы власти в соответствии с предусмотренными законами
                        процедурами.
                    </li>
                    <li>Предоставления третьим сторонам сводную агрегированную информацию, не содержащую персональных сведений,
                        не позволяющую идентифицировать пользователя лично.
                    </li>
                </ul>
            </li>

        </ol>

        <h4>Изменения в политике конфиденциальности</h4>
        <p>Мы вправе вносить изменения и дополнения в настоящую Политику конфиденциальности.</p>

        <h4>Вопросы по политике конфиденциальности.</h4>

        <p>Если у вас возникли вопросы, предложения и комментарии относительно Политики конфиденциальности, вы можете связаться
            с нами по e-mail: hlopokray21@mail.ru</p>

    </div>
</div>