<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <span class="current">Условия оплаты</span>
        </li>
    </ul>
</div>

<h1>Условия оплаты</h1>

<div class="content">
    <h4>Способы оплаты:</h4>
    <ul>
        <li>На кассе предприятия:г. Чебоксары, ул. Космонавта А.Г.Николавеа, д. 47</li>
        <li>перевод на расчетный счет</li>
        <li>перевод на банковскую карту</li>
    </ul>

    <p>При оплате заказа банковской картой ввод реквизитов карты происходит в системе электронных платежей ПАО АКБ «Авангард»,
        который прошел сертификацию в платежных системах Visa, MasterCard и МИР. Представленные Вами данные полностью
        защищены и никто, включая наш интернет-магазин, не может их получить.
    </p>

    <img class="payment__img" src="/static/img/visa_pos_.png" alt="Visa">
    <img class="payment__img" src="/static/img/visa_pos_electron_.png" alt="Visa Electron">
    <img class="payment__img" src="/static/img/MC_верт.png" alt="МС">
    <img class="payment__img" src="/static/img/Maestro верт.png" alt="Maestro">
    <img class="payment__img" src="/static/img/Mir_logo.png" alt="Mir">
    <img class="paymentsmaller__img" src="/static/img/MIRaccept.png" alt="Mir-accept">
    <img class="paymentsmaller__img" src="/static/img/verified.png" alt="Verified">
</div>