<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <span class="current">Оптовикам</span>
        </li>
    </ul>
</div>

<h1>Оптовикам</h1>
<div class="content">
    <p>Текстильная компания «Хлопковый Рай» рада стать надежным партнером в Вашего бизнеса. Мы работаем на рынке домашнего текстиля
        более 10 лет и имеем налаженное производство в г. Чебоксары.</p>
    <h4>Текстильная компания «Хлопковый Рай» сегодня – это:</h4>
    <ul>
        <li>одна из лидирующих компаний текстильной отрасли России</li>
        <li>компания, выпускающая широкий ассортимент высококачественных тканей для домашнего текстиля
        </li>
        <li>компания, производящую продукцию, которую используют тысячи семей в России и ближнем зарубежье
        </li>
        <li>высокое качество предлагаемого продукта;</li>
        <li>широкий диапазон набора;</li>
        <li>присутствие огромных остатков на складах фирмы;</li>
        <li>наработка заказа отдельно под покупателя</li>
        <li>поставка комплектов постельного белья оптом по заявке;</li>
        <li>высочайший сервис обслуживания</li>
        <li>интернет-магазин «Хлопковый Рай».</li>
        <li>изготавливаем продукцию по стандартам, имеем все сертификаты на товар.</li>
        <li>полный пакет сопроводительных документов</li>
        <li>индивидуальный подход к каждому клиенту – основа нашей деятельности.</li>
    </ul>

    <h4>Оставьте заявку на получение оптового прайса</h4>

    <div class="faq-block">
        <form class="" name="" id="rf-register-form" action="/task/wholesalers" method="POST">
            <div class="js-form-error" hidden>Ошибка</div>

            <div class="form-row">
                <div class="col-12 col-sm-6">
                    <div style="margin-bottom: 19px;">
                        <label class="col-form-label" for="register-textarea">Вопрос
                            <span class="star">*</span>
                        </label>
                        <textarea class="form-control" style="height: 222px;" cols="50" name="text" id='register-textarea'></textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div style="margin-bottom: 19px;">
                        <label class="col-form-label" for="register-name">Ваше имя
                            <span class="star">*</span>
                        </label>
                        <input class="form-control" type="text" id="register-name" name="name" data-validate="name" required>
                    </div>

                    <div style="margin-bottom: 19px;">
                        <label class="col-form-label" for="register-email">Email
                            <span class="star">*</span>
                        </label>
                        <input class="form-control" type="text" id="register-email" name="email" data-validate="email" required>
                    </div>

                    <div style="margin-bottom: 19px;">
                        <label class="col-form-label" for="register-phone">Контактный телефон
                            <span class="star">*</span>
                        </label>
                        <input class="form-control" type="phone" id="register-phone" name="phone" data-validate="phone" required>
                    </div>
                </div>
            </div>

            <div style="display: flex">
                <button class="btn btn-danger" name="registerSubmit" type="submit">Запросить</button>
                <button class="btn btn-outline-danger" type="reset" style="margin-left: 5px;">Сбросить
                </button>
            </div>

            <div style='margin-top: 10px;' class="mm-legal-text">Нажимая кнопку «Запросить», Вы подверждаете, что ознакомились с
                <a href="/page/legal">Условиями обработки персональных данных
                </a> и принимаете их
            </div>

        </form>
    </div>

    <br>

    <h4>Заказ можно оставить:</h4>
    <ul>
        <li>Через корзину: после получения мы пересчитаем заказ по оптовым ценам</li>
        <li>По телефону: Вы можете продиктовать нам заказ</li>
    </ul>

    <p>После формирования заказа мы сделаем расчеты и выставим счет.</p>
    <p>Срок комплектации заказа - от 1 до 7 рабочих дней после поступления средств на наш расчетный счет. Мы сотрудничаем как
        с небольшими розничными магазинами, так и с крупными оптовоторговыми предприятиями. Работаем без пересортицы, отправляем
        только заказанный товар.
    </p>
</div>