<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%- await Main.meta.title(siteTitle) %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="hlopokray.ru" >
    <meta property="og:site_name" content="Интернет магазин Хлопковый рай">
    <meta property="og:url" content="http://hlopokray.ru/">
    <meta property="og:image" content="http://hlopokray.ru/static/logo.png">
    <meta property="og:title" content="Хлопковый Рай">
    <meta property="og:description" content="Интернет магазин Хлопковый рай">
    <meta property="og:type" content="website">

    <link rel="shortcut icon" href="/favicon.ico?v=1">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|PT+Sans|Poiret+One|Roboto:300,400">
    
    <!--STYLES-->    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link href="../../static/css/index.css" rel="stylesheet">
    <!--STYLES END-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Head END -->
</head>

<body>
 
  <div class="wrapper">
    <%- await Main.header() %>

    
  <div>
    <%- await include(view) %>
  </div>
   

    <%- await Cart.Show() %> 

    <%- await Main.footer() %> 
  </div>

  <!--Input-->
  <div class="modal modal__input fade" tabindex="-1" role="dialog" id="modal-input" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-close p-4">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="form__modal">
                    <div class="pb-4 px-4">
                            <h3>Вход</h3>
                        <div class="row">
                            <div class="col-md-8 mb-12 .col-md-offset-2 col-mb-offset-0">
                                <label for="login">Электронная почта / ID-клиента</label>
                                <input type="text" class="form-control mb-4" id="login" placeholder="Электронная почта или ID" value="" required="">
                                <label for="password">Пароль</label>
                                <input type="text" class="form-control mb-3" id="password" placeholder="Введите пароль" value="" required="">
                                <div class="alert">Не верный логин или пароль. Пожалуйста проверьте правильность</div>
                                <button type="submit" class="btn btn-success mt-4">Войти</button>
                                <button class="btn btn-normal mb-4">Войти через портал госуслуг</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #e8eded;">
                        <div class="pl-3 pr-3 w-100">
                            <div class="d-flex justify-content-between">
                                <a href="#0">Регистрация</a>
                                <a href="#0">Восстановление пароля</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- <div class="bd-example-modal" > -->
    <div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" id="modal-input-ul" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header p-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Регистрация физических лиц</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Регистрация юридических лиц и ИП</a>
                        </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" id="app">
                            <form action="" id="form__input-ul">
                                <div class="pt-3 pb-2 px-4">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="surname">Фамилия<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" :class="{ error: errors['lastName'] }" id="surname" placeholder="Фамилия" value="" required="" v-model="form1.lastName">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Имя<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" :class="{ error: errors['firsName'] }" id="name" placeholder="Имя" value="" required="" v-model="form1.firsName">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="middleName">Отчество<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" :class="{ error: errors['middleName'] }" id="middleName" placeholder="Отчество" value="" required="" v-model="form1.middleName">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="email">E-mail<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" :class="{ error:errors['email'] }" id="email" placeholder="E-mail" value="" required="" v-model="form1.email" v-validate="'required|email'">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="phone">Телефон<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" :class="{ error:errors['phone'] }" id="phone" placeholder="+7 (000) 000-00-00" value="" required="" v-model="form1.phone">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="region">Регион</label>
                                            <select class="custom-select d-block w-100" id="region" required="" v-model="form1.region">
                                                <!-- <option v-for="todo in list_regions">
                                                    {{ todo.region }}
                                                </option> -->
                                                <option value="">Россия</option>
                                                <option>США</option>
                                                <option>Великобритания</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 mb-3">
                                            <label for="organization">Название организации</label>
                                            <input type="text" class="form-control" id="organization" placeholder="Организации" value=""  v-model="form1.organizationName" v-validate="'required|email'">
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label for="inn">ИНН (ОГРН) организации</label>
                                            <input type="text" class="form-control" id="inn" placeholder="0000-0000-0000-0000" value="" required="" v-model="form1.organizationInn">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Страна</label>
                                            <select class="custom-select d-block w-100" id="country" required="" v-model="form1.country">
                                                <!-- <option v-for="todo in list_regions">
                                                    {{ todo.region }}
                                                </option> -->
                                                <option value="">Россия</option>
                                                <option>США</option>
                                                <option>Великобритания</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="index">Индекс</label>
                                            <input type="text" class="form-control" id="index" placeholder="" value="324250" required="" v-model="form1.index">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="region-org">Регион</label>
                                            <select class="custom-select d-block w-100" id="region-org" required="" v-model="form1.organizationRegion">
                                                <!-- <option v-for="todo in list_regions">
                                                    {{ todo.region }}
                                                </option> -->
                                                <option value="">Россия</option>
                                                <option>США</option>
                                                <option>Великобритания</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Город</label>
                                            <select class="custom-select d-block w-100" id="country" required="" v-model="form1.city">
                                                <!-- <option value="" v-for="todo in list_country">
                                                    {{ todo.country }}
                                                </option> -->
                                                <option value="">Воронеж</option>
                                                <option>Бангладеш</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="street">Улица</label>
                                            <input type="text" class="form-control" id="street" placeholder="Улица" value="" required="" v-model="form1.street">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="address">Дом, корпус, строение</label>
                                            <input type="text" class="form-control" id="address" placeholder="Адрес" value="" required="" v-model="form1.building">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="background-color: #e8eded;">
                                    <div class="p-3 px-4 d-flex flex-column align-items-center">
                                        <div class="mb-4 offset-1">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="same-address" checked>
                                                <label class="custom-control-label" for="same-address">Нажимая на кнопку "Зарегестрироваться" Вы соглашаетесь с Условиями использования, Политикой конфендециальности.</label>
                                            </div>
                                        </div>
                                        <button type="submit" v-on:click="submit" class="btn btn-success">Зарегестрироваться</button>
                                    </div>
                                </div>
                                <!--Сообщение об ошибке-->
                                <div v-if="!validate" class="form__alert">
                                    <p>Заполните все поля</p>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form action="">
                                <div class="pt-3 pb-2 px-4">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="surname">Фамилия<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="surname" placeholder="Фамилия" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Имя<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="name" placeholder="Имя" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="middleName">Отчество<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="middleName" placeholder="Отчество" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="email">E-mail<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="email" placeholder="E-mail" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="phone">Телефон<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="phone" placeholder="+7 (000) 000-00-00" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Регион</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Россия</option>
                                                <option>США</option>
                                                <option>Великобритания</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 mb-3">
                                            <label for="organization">Название организации</label>
                                            <input type="text" class="form-control" id="organization" placeholder="Организации" value="" required="">
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label for="inn">ИНН (ОГРН) организации</label>
                                            <input type="text" class="form-control" id="inn" placeholder="0000-0000-0000-0000" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="surname">ИНН<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="inn" placeholder="Номер" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">КПП<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="kpp" placeholder="000-000-00-00" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="middleName">ОГРН</label>
                                            <input type="text" class="form-control" id="ogrn" placeholder="0000-0000-0000-000" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 mb-3">
                                            <label for="country">Вид деятельности</label>
                                            <select class="custom-select d-block w-100" id="type-prod" required="">
                                                <option value="">Выберите из списка</option>
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label for="inn">Полное название организации</label>
                                            <input type="text" class="form-control" id="full-name" placeholder="Короткое название организации" value="" required="">
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label for="inn">Короткое название организации</label>
                                            <input type="text" class="form-control" id="short-name" placeholder="Короткое название организации" value="" required="">
                                        </div>
                                    </div>

                                    <div class="row middle-header-row">
                                        <div class="middle-header">
                                            <a href="" class="arrow">Адрес местонахождения (юридический адрес)</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Страна</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Россия</option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Индекс</label>
                                            <input type="text" class="form-control" id="name" placeholder="324250" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Регион</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Воронежская область</option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Город</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Воронеж</option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Улица</label>
                                            <input type="text" class="form-control" id="name" placeholder="Улица" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Дом, корпус, строение</label>
                                            <input type="text" class="form-control" id="name" placeholder="Адрес" value="" required="">
                                        </div>
                                    </div>

                                    <div class="row middle-header-row">
                                        <div class="middle-header">
                                            <a href="" class="arrow">Фактический адрес (почтовый)</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 check-out">
                                            <div class="custom-control custom-checkbox ">
                                                <input type="checkbox" class="custom-control-input" id="same-address-2" checked>
                                                <label class="custom-control-label" for="same-address-2">Совпадает с фактическим адресом (почтовый)</label>
                                                <span>При совпадении юридического адреса и почтового адреса – проставить 
                                                        галочку в поле</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Страна</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Россия</option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Индекс</label>
                                            <input type="text" class="form-control" id="name" placeholder="324250" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Регион</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Воронежская область</option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Город</label>
                                            <select class="custom-select d-block w-100" id="country" required="">
                                                <option value="">Воронеж</option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Улица</label>
                                            <input type="text" class="form-control" id="name" placeholder="Улица" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Дом, корпус, строение</label>
                                            <input type="text" class="form-control" id="name" placeholder="Адрес" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Должность</label>
                                            <input type="text" class="form-control" id="name" placeholder="Введите название до..." value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Телефон организации<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="kpp" placeholder="+7 (000) 000-00-00" value="" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="name">Дом, корпус, строение</label>
                                            <input type="text" class="form-control" id="name" placeholder="Адрес" value="" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="background-color: #e8eded;">
                                        <div class="p-3 px-4 d-flex flex-column align-items-center">
                                            <div class="mb-4 offset-1">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="same-address-3" checked>
                                                    <label class="custom-control-label" for="same-address-3">Нажимая на кнопку "Зарегестрироваться" Вы соглашаетесь с Условиями использования, Политикой конфендециальности.</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success">Зарегестрироваться</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->



<div class="modal modal__input fade" tabindex="-1" role="dialog" id="modal-input-img" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <img src="../../static/img/modal.png" alt="">
                </div>
            </div>
        </div>
        </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- SCRIPTS-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/__browser/wrap.js"></script>
    <script src="/static/helpers/index.js"></script> -->
    <!-- <script src="/.build/bundle.js"></script>  -->
    <!-- <script crossorigin="anonymous" async type="text/javascript" src="//api.pozvonim.com/widget/callback/v3/9e6272180ea18f29d60d00d83fcf0fa5/connect" id="check-code-pozvonim" charset="UTF-8"></script> -->
    <!--SCRIPTS END -->
    
</body>
</html>
