<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">Новости</span></li>
    </ul>
</div>
<section>
    <h1>Новости</h1>
    <% if(content) { %>
    <%- console.log(content, 'CONTENT') %>
        <div>   
            <% content.forEach(post => { %>
                <div class="mt-5">
                    <h2>
                        <a href="<%-post.brief %>"><%- post.title %></a>
                    </h3>
                    <img src="http://static.hlopokray.ru/<%- post.image_path %>" alt="Изображение" style="width: 200px; height: 200px; ">
                    <br><br>
                    <div>
                        <a href="/news/<%- post.brief %>">Подробнее</a>
                    </div>
                </div>
            <% }); %> 
        </div>
    <% } else { %>
        <%- error %>
    <% } %>
</section>