
<div>
  <% if(post) { %>
  <h1><%- post.title %></h1>
  <div>
      <%  let contentDate = Date.parse(post.date_created);
      contentDate = new Date(contentDate).toLocaleDateString('ru-Ru') %>
    <span><%- contentDate %></span>
  </div>
  <div>
    <%- post.body %>
  </div>    
 <% } else { %>
  <h1><%- error %></h1>
 <% } %>
</div>