<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><span class="current">Оплата</span></li>
    </ul>
</div>
<div class="">
    <h1 class="mb-3">Оплата</h1>
    <form id="PaymentForm" method="POST" class="application" accept-charset="UTF-8" action="<%- params.url %>">
        <input type="hidden" name="shop_id" value="<%- params.shopId %>"/>
        <input type="hidden" name="signature" value="<%- params.signature %>"/>
        <input type="hidden" name="language" value="<%- params.language %>"/>
        <input type="hidden" name="order_number" value="<%- params.orderNumber %>"/>
        <input type="hidden" name="amount" value="<%- params.amount %>"/>
        <input type="hidden" name="order_description" value="<%- params.orderDescription %>" />
        <input type="hidden" name="back_url" value="<%- params.backUrl %>"/>
        <input type="hidden" name="back_url_ok" value="<%- params.backUrlOk %>"/>
        <input type="hidden" name="back_url_fail" value="<%- params.backUrlFail %>"/>
        <input type="hidden" name="client_name" value="<%- params.clientName %>"/>
        <input type="hidden" name="client_phone" value="<%- params.clientPhone %>"/>
        <input type="hidden" name="client_email" value="<%- params.clientEmail %>"/>
        <div class="form-row" style="margin-bottom: 19px;">
            <div class="form-label col-3">
                <label class="col-form-label" for="cost">Сумма платежа</label>
                <input class="form-control" autocomplete="off" type="text" id="cost" name="cost" value="<%- params.amount / 100 %>" required>
            </div>
        </div>
        <button id="payNow" class="btn btn-danger">Оплатить</button>
    </form>
</div>