<% if(cart.length) { %>
<div class="row">
    <div class="col-9">
        <div class="cart-content">
            <table class="shopping-cart-content">
                <tbody>
                    <tr class="title">
                        <td class="product-thumb"></td>
                        <td class="product-name">Наименование</td>
                        <td class="price">Цена</td>
                        <td class="quantity-item">Кол-во</td>	
                        <td class="total">Сумма</td>
                        <td class="delete-item"></td>
                    </tr>   
                    <% cart.map(row => { %>
                        <tr class="each-item">
                            <td class="product-thumb">
                                <a href="/item/<%- row.item_id %>">
                                    <img src='http://static.hlopokray.ru<%- row.image_url %>' alt="<%- row.item_name %>">
                                </a>
                            </td>

                            <td class="product-name">
                                <a href="/item/<%- row.item_id %>"><%- row.caption %></a>
                            </td>

                            <td class="price"><%- row.fixed_price %> Р</td>

                            <td class="quantity-item" data-title="Qty">
                                <div class="cart-quantity">
                                    <button class="minus js-qty-btn" data-qty-direction="down" onClick="qtyArrowHandler(event, <%- row.cart_row_id %>)">
                                        <svg class="icon icon-minus">
                                            <use xlink:href="#icon-minus"></use>
                                        </svg>
                                    </button>

                                    <input class="input-text js-qnt-input" size="4" type="text" value="<%- row.quantity %>" min="1" max="100" onchange="" data-row-id="<%- row.cart_row_id %>">

                                    <button class="plus js-qty-btn" data-qty-direction="up" onClick="qtyArrowHandler(event, <%- row.cart_row_id %>)">
                                        <svg class="icon icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg>
                                    </button>
                                </div>
                            </td>

                            <td class="total"><%- row.fixed_price * row.quantity %> Р</td>

                            <td class="delete-item">
                                <button class="close" title="Удалить товар из корзины" onClick="Cart.remove(event, <%- row.cart_row_id %>)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% if(!user) { %>
            <div class="mb-3">
            <label for="userName">Имя</label>
            <input type="text" id="userName" class="form-control">
            </div>
            <div class="mb-3">
            <label for="userPhone">Телефон</label>
            <input type="text" id="userPhone" class="form-control">
            </div>
        <% } %>
    
        <div class="mb-3">
          <label for="userComment">Комментарий</label>
          <textarea type="text" id="userComment" class="form-control" rows="10"></textarea>
        </div>
    </div>
    <div class="col-3">
        <div class="proceed-checkout">
            <div class="content">
                <h5 class="title">Ваш заказ</h5>
                <div class="info-checkout">
                    <span class="text">Сумма заказа: </span>
                    <span class="item"><%- orderSum() %> Р</span>
                </div>
                <div class="info-checkout shipping">
                    <span class="text">Стоимость доставки:</span>
                    <span class="item"><%- order %> Р</span>
                    <input type="hidden" id="delivery" value="<%- order %>">
                </div>
                <div class="total-checkout">
                    <span class="text">Общая стоимость</span>
                    <span class="price"><%- orderSum() + order %> Р</span>
                </div>
                <div class="group-button">
                    <a href="/cart/checkout" class="btn btn-danger text-white" onclick="Cart.makePurchase(event)">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% } else { %>
    <div class="row">
        <div class="col-9">
        <h4>Корзина пуста.</h4>
        </div>
    </div>
<% } %>